/* Footer Styles Go Here */

footer{
    color: $white;
    background-color: $richblue;
    height: 50px;
    position:absolute;
    width: 100%;
    .footer-text{
        text-align: center;;
    }
}

