/* Form Styling Go Here */

.add-form{
    margin-left: 300px;
    margin-right: 300px;
}

.add-title{
    text-align: center;
}

.edit-form{
    margin-left: 300px;
    margin-right: 300px;
}

.edit-title{
    text-align: center;
}

.category-form{
    margin-left: 300px;
    margin-right: 300px;
}